<section>
  <div class="container">
    <div class="row ">
      <div class="col-12   d-flex flex-column justify-content-center align-items-center  ">
        <h5 class="mt-4 fw-bold">CONTACT SECTION</h5>
        <div class="d-flex get align-items-center justify-content-center mb-3"><div class="line me-3" ></div><i class="fa-solid fa-star"></i><div class="line ms-3">
        </div></div>

      </div>
      <div class="col-12">
        <div class=" container  ">
          <div class="row gy-3">
        <input id="userName" type="text" placeholder="userName" name="userName" class="form-control mt-5 fs-10 border-0 border-bottom py-3 position-relative">
        <input id="userName" type="text" placeholder="userName" name="userName" class="form-control fs-10 border-0 border-bottom py-3 position-relative">
        <input id="userName" type="text" placeholder="userName" name="userName" class="form-control fs-10 border-0 border-bottom py-3 position-relative">
        <input id="userName" type="text" placeholder="userName" name="userName" class="form-control fs-10 border-0 border-bottom py-3 position-relative">

      </div>
      <button class="btn mt-3 mb-5 text-white"> send Message </button>
    </div>
    </div>
    </div>
  </div>
</section>
