.navbar-brand {
color: white;
height: 50px;

}
.nav-link {
  color: white;
  }
.navbar
{

      background-color: #2C3E50;
}
.navbar-nav a{
font-size: 10px;
}
.bg-greenn{
  background-color: #1ABC9C ;

}
