<section>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-sm-12 col-md-4 mt-5">
        <h6>LOCATION</h6>
        <P>2215 JOHN Daniel Drive</P>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col-sm-12 col-md-4 mt-5">
        <h6>AROUND THE WEB</h6>
        <div class="icons">
          <i class="fa-brands fa-facebook mx-1 icon"></i><i class="fa-brands fa-twitter mx-1 icon"></i><i class="fa-brands fa-linkedin-in mx-1 icon"></i><i class="fa-solid fa-globe mx-1 icon"></i>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 mt-5 mb-5">
        <h6>ABOUT FREELANCER</h6>
        <P>Freelance is a free to use, licensed
          Bootstrap theme created by Route</P>

      </div>
    </div>
  </div>

</section>
<div class="copyright text-center p-3">
  <p class="m-auto">Copyright © Your Website 2021</p>
</div>
