<div class="container">
  <div class="row m-auto gy-3">
    <div class="col-md-12 col-lg-4">
      <div class="pro">
        <img class="w-100 h-100 rounded" src="assets/img/poert1.png" alt="">
      <div class="pro-content rounded d-flex justify-content-center align-items-center">
        <p class="">+</p>
      </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div class="pro">
        <img class="w-100 h-100 rounded" src="assets/img/port2.png" alt="">
      <div class="pro-content rounded  d-flex justify-content-center align-items-center">
        <p class="">+</p>
      </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div class="pro">
        <img class="w-100 h-100 rounded" src="assets/img/port3.png" alt="">
      <div class="pro-content   rounded d-flex justify-content-center align-items-center">
        <p class="">+</p>
      </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div class="pro">
        <img class="w-100 h-100 rounded" src="assets/img/poert1.png" alt="">
      <div class="pro-content rounded d-flex justify-content-center align-items-center">
        <p class="">+</p>
      </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div class="pro">
        <img class="w-100 h-100 rounded" src="assets/img/port2.png" alt="">
      <div class="pro-content rounded d-flex justify-content-center align-items-center">
        <p class="">+</p>
      </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4 mb-3">
      <div class="pro">
        <img class="w-100 h-100 rounded" src="assets/img/port3.png" alt="">
      <div class="pro-content  rounded d-flex justify-content-center align-items-center">
        <p class="">+</p>
      </div>
      </div>
    </div>
    </div>
  </div>


